scenarios_storage/DMimo/R_matrices/aps_R_matrices_full.npz filter=lfs diff=lfs merge=lfs -text
scenarios_storage/DMimo/H_coeffs/H_coeffs_full.npz filter=lfs diff=lfs merge=lfs -text
scenarios_storage/DMimo/lsg_parameters/K_coeffs_full.npz filter=lfs diff=lfs merge=lfs -text
scenarios_storage/DMimo/lsg_parameters/lsg_coeffs_full.npz filter=lfs diff=lfs merge=lfs -text
scenarios_storage/** filter=lfs diff=lfs merge=lfs -text
